* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  background-image: url(./img/background.jpg);
  background-position: center;
  background-size: cover;
  padding: 0 7%;
  color: #fff;
}

nav {
  width: 100%;
  padding: 20px 0;
  display: flex;
  align-items: center;
}

.logo {
  width: 50px;
  cursor: pointer;
}

nav ul {
  flex: 1;
}

nav ul li {
  display: inline-block;
  margin: 10px 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav .btn {
  color: #fff;
  text-decoration: none;
  border: 1px solid #fff;
  padding: 10px 30px;
  border-radius: 20px;
}

.content {
  margin-top: 12%;
}

.content h1 {
  font-size: 88px;
  margin-bottom: 30px;
}

.content h1 span {
  color: #ff960b;
}

.content p {
  line-height: 22px;
  font-size: 16px;
}

.content .btn {
  display: inline-block;
  margin-top: 30px;
  background: #ff960b;
  color: #fff;
  text-decoration: none;
  padding: 15px 30px;
  border-radius: 30px;
}

.coin-list {
  position: absolute;
  right: 5%;
  bottom: 10px;
  display: flex;
  align-items: center;
}

.coin {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin: 0 15px;
  color: #ff960b;
  border: 1px solid rgba(102, 99, 102, 0.5);
  padding: 20px 30px;
  border-radius: 8px;
  background-color: rgba(50, 44, 50, 0.5);
}

.coin img {
  width: 40px;
  margin-right: 10px;
}

.coin h3 {
  color: #fff;
  margin-bottom: 5px;
}

/* responsividade */
@media (max-width: 700px) {
  .container {
    width: 100%;
  }

  .logo {
  width: 40px;
  cursor: pointer;
  position: absolute;
  left: 5%;
  top: 40px;
  }

  .container .menu {
  font-size: 20px;
  position: absolute;
  right: 0;
  top: 40px;
  cursor: pointer;
  }
  
  nav .btn {
   opacity: 0;
  }

  .content h1 {
   font-size: 45px;
   width: 90%;
   margin-top: -90px;
   margin-bottom: 10px;
  }
  
  .content p {
    width: 95%;
    font-size: 16px;
  }

  .coin-list {
    height: 40%;
    right: 0%; 
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .coin {
    width: 200px;
  }
}

@media (max-width: 380px) {
  .coin-list {
    height: 30%;
    gap: 5px;
  }

  .coin {
    height: 70px;
}
}


@media (height < 700px) {
  .content .btn {
margin-top: 10px;
}
  
  .coin-list {
    height: 27%;
    gap: 3px;
  }
  
  .coin {
    height: 60px;
}
}
/*
@media (width > 1200px) {
  .login {
    width: 25%;
  }
}
/*